.container{
    background-color: #363739;
    color: #EDF5E1;
    }

.containerProducts {
    display: flex;
    justify-content: space-around;
    gap: 4em;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 5em;
    padding-bottom: 7em;
}

.title {
    font-size: 4em;
    padding-top: 1em;
}


.searchbarContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.searchbar{
    background-color:  #212529;
    border: 1px solid #5CDB95;
    color: #EDF5E1;
    padding: 0.4em;
    border-radius: 5px;
    margin-top: 2em;
}



@media screen and (max-width: 800px) {
    .containerProducts{
        margin-left: 1em;
        margin-right: 1em;
        justify-content: space-evenly;
    }
    .title{
        font-size: 10vw;
    }
}



@media screen and (max-width: 500px) {
    .containerProducts{
        margin-left: 0em;
        margin-right: 0em;
    }
    
}



